form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6 {
    margin: 5px;
}

select {
    margin: 5px;
}

button {
    margin: 5px;
    width: 10rem;
}